html
  @media screen and (max-width: 1200px)
    font-size: 15.5px

@media screen and (max-device-width: 800px)
  html
    background: url(/_images/puzzle-large.jpg) $black no-repeat center center fixed
  .bg-vid
    display: none