
.icon-logo-full
  font-size: 40em

h2.headline
  primary-font(300)
  font-size: 2.8125em
  color: $white-alt
  margin-top: -3.75em
  line-height: 1.3em
  a
    font-style: italic
    color: $white-alt
    text-decoration: none
    transition: all 300ms ease
    border-bottom: 0px solid $primary
    &:hover
      color: $primary
      border-bottom-width: 2px
