
aside
  padding: 15% 0 0 10%
  > span
    font-size: 9em
    margin-bottom: 46px
    display: block
  h2
    primary-font($primary-font-light)
    color: $white
    font-size: 1em
    margin-bottom: 100px
  .connect
    float: left
    vertical-align: top
    width: 59%
    h3
      primary-font($primary-font-bold)
      text-transform: uppercase
      color: $primary
      font-size: 1.3em
      margin-bottom: 18px
    .phone
      .type
        float: left
        width: 39%
        p
          primary-font($primary-font-light)
          font-size: 1.3em
          color: $white
          margin-bottom: 3px
      .number
        float: right
        width: 61%
        a
          primary-font($primary-font-semibold)
          font-size: 1.3em
          color: $white
          text-decoration: none
          display: block
          margin-bottom: 3px
          transition: color 400ms ease
          &:hover
            color: $primary
  .linkedin
    float: right
    margin-top: 8px
    width: 37%
    div
      a
        display: block
        span.icon-linkedin-white
          font-size: 2.5em
          display: inline-block
          vertical-align: top
          margin-bottom: 20px
        span.name
          margin-left: 8%
          display: inline-block
          primary-font($primary-font-bold-normal)
          font-size: .9em
          line-height: 1.4em
          vertical-align: middle
          color: $white
          span
            display: block
            margin-left: 0
            white-space: nowrap
            font-size: 1em
