
extends layout

block content

  span.icon-logo-full-outline
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
    span.path6
    span.path7
    span.path8
    span.path9
    span.path10
    span.path11
    span.path12
    span.path13
    span.path14
    span.path15
    span.path16
    span.path17

  h2 It's not <a href="#">what we do</a> that's different, it's <a href="#">how we do it</a>.

block sidebar

  .nav-pane.slide-out.home

    .nav-items

      .listone
        input(type="checkbox" id="listone" class='droppers')

        a.icon-diagram
          span.list-item What We Do
          label(for="listone")
            .dropdown
              span.bar
              span.bar

        a.sub.icon-briefcase
          span.list-item Career Coaching

        a.sub.icon-rubiks
          span.list-item Resume Building

        a.sub.icon-bulb
          span.list-item Resources

      .listtwo
        input(type="checkbox" id="listtwo" class='droppers')

        a.icon-gears
          span.list-item How We Do It
          label(for="listtwo")
            .dropdown
              span.bar
              span.bar

        a.sub.icon-profile
          span.list-item Team

      .listthree
        input(type="checkbox" id="listthree" class='droppers')

        a.icon-people
          span.list-item Candidates
          label(for="listthree")
            .dropdown
              span.bar
              span.bar

        a.sub.icon-keys
          span.list-item Jobs

      .listfour
        input(type="checkbox" id="listfour" class='droppers')
        label(for="listfour")

        a.icon-stats
          span.list-item Employers

      .listfive
        input(type="checkbox" id="listfive" class='droppers')

        a.icon-connect
          span.list-item Connect
          label(for="listfive")
            .dropdown
              span.bar
              span.bar

        .sub.phones
          a(href='tel:16152389998')
            span.icon-mobile
            span (615) 238-9998
          a(href='tel:16154738594')
            span.icon-phone
            span (615) 473-8594
          a(href='')
            span.icon-pin
            span.map 4322 Harding Pike <br/>Nashville, TN 37205

        .sub.form
          include _includes/form



  .toggle-nav
    span.m M
    span.e
      span.bar
      span.bar
      span.bar
    span.n N
    span.u U
