
extends layout

block content

  span.icon-logo-full-outline
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
    span.path6
    span.path7
    span.path8
    span.path9
    span.path10
    span.path11
    span.path12
    span.path13
    span.path14
    span.path15
    span.path16
    span.path17

  h2 It's not <a href="#">what we do</a> that's different, it's <a href="#">how we do it</a>.

block sidebar

  .nav-pane.slide-out

  .toggle-nav
    span.m M
    span.e
      span.bar
      span.bar
      span.bar
    span.n N
    span.u U

  //- .clear
  //-   .connect
  //-     h3.
  //-       Call us to get started.
  //-     .phone.clear
  //-       .type.clear
  //-         p.
  //-           Direct
  //-         p.
  //-           Mobile
  //-       .number.clear
  //-         a(href='tel:6152389998') (615) 238-9998
  //-         a(href='tel:6154738594') (615) 473-8594
  //-   .linkedin
  //-     div
  //-       a(href='https://www.linkedin.com/in/itrecruiternashville' target='_blank')
  //-         span.icon-linkedin-white
  //-           span.path1
  //-           span.path2
  //-         span.name.
  //-           Connect with <span>Jerry Baker</span>
  //- #mc_embed_signup
  //-   form(action="//simplypeople.us13.list-manage.com/subscribe/post?u=a27dca81f19b907374f6c13de&amp;id=2afc84b157" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
  //-     #mc_embed_signup_scroll
  //-       .input.clear
  //-         .floating-placeholder
  //-           input(type="text" value="" name="EMAIL" class="email" id="mce-EMAIL" required)
  //-           label(for="mce-EMAIL") Enter email to opt-in to occasional mailings.
  //-       div(style="position: absolute; left: -5000px;" aria-hidden="true")
  //-         input(type="text" name="b_a27dca81f19b907374f6c13de_2afc84b157" tabindex="-1" value="")
  //-       .clear
  //-         input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button")