extends layout

block content
  p.
    Vivamus hendrerit arcu sed erat molestie
    vehicula. Sed auctor neque eu tellus
    rhoncus ut eleifend nibh porttitor. Ut in.

block sidebar
  img(src='/_images/logo-simply-people.svg')
  h2.
    Simply People specializes is finding top talent for your most critical IT challenges. Whether you need talent for contract, contract-to-hire, or permanent placement, Simply People has you covered.
  .connect
    h3.
      Call us to get started.
    .phone
      .type.clear
        p.
          Direct
        p.
          Mobile
      .number.clear
        a(href='tel:6152389998').
          (615) 238-9998
        a(href='tel:6154738594').
          (615) 473-8594
  .linkedin
    div
      a(href='https://www.linkedin.com/in/itrecruiternashville' target='_blank')
        img(src='/_images/icon-linkedin.svg')
        span.
          Connect with
          span
            Jerry Baker
    div
      a(href='https://www.linkedin.com/in/timables' target='_blank')
        img(src='/_images/icon-linkedin.svg')
        span.
          Connect with
          span
            Tim Ables