
include _includes/head

  body

    include _includes/image

    .wrapper

      .layout.home

        .main

          section.grid
            block content

          //section.testimonials
            //block testimonials

        aside.sidebar
          block sidebar

      include _includes/footer