
include _includes/head

  body

    include _includes/video

    .wrapper

      .layout

        .main

          section.grid
              block content

        aside.sidebar
          block sidebar

    include _includes/footer