html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
}
-webkit-box-sizing border-box,
-moz-box-sizing border-box,
box-sizing border-box,
-moz-background-clip padding-box !important,
-webkit-background-clip padding-box !important,
background-clip padding-box !important,
a {
  background: transparent;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
svg:not(root) {
  overflow: hidden;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: 'icomoon';
  src: url("../_fonts/icomoon.eot?ebz9au");
  src: url("../_fonts/icomoon.eot?ebz9au#iefix") format('embedded-opentype'), url("../_fonts/icomoon.ttf?ebz9au") format('truetype'), url("../_fonts/icomoon.woff?ebz9au") format('woff'), url("../_fonts/icomoon.svg?ebz9au#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-linkedin-white .path1:before {
  content: "\e900";
  color: #fff;
}
.icon-linkedin-white .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #37b879;
}
.icon-logo-simply-people {
  margin-left: 3.05859375em;
}
.icon-logo-simply-people [class^='path'] {
  margin-left: -3.05859375em;
}
.icon-logo-simply-people .path1:before {
  content: "\e902";
  color: #37b879;
  margin-left: 0;
}
.icon-logo-simply-people .path2:before {
  content: "\e903";
  color: #37b879;
}
.icon-logo-simply-people .path3:before {
  content: "\e904";
  color: #37b879;
}
.icon-logo-simply-people .path4:before {
  content: "\e905";
  color: #37b879;
}
.icon-logo-simply-people .path5:before {
  content: "\e906";
  color: #37b879;
}
.icon-logo-simply-people .path6:before {
  content: "\e907";
  color: #fff;
}
.icon-logo-simply-people .path7:before {
  content: "\e908";
  color: #fff;
}
.icon-logo-simply-people .path8:before {
  content: "\e909";
  color: #fff;
}
.icon-logo-simply-people .path9:before {
  content: "\e90a";
  color: #fff;
}
.icon-logo-simply-people .path10:before {
  content: "\e90b";
  color: #fff;
}
.icon-logo-simply-people .path11:before {
  content: "\e90c";
  color: #fff;
}
.icon-logo-simply-people .path12:before {
  content: "\e90d";
  color: #37b879;
}
.icon-logo-simply-people .path13:before {
  content: "\e90e";
  color: #37b879;
}
.icon-logo-simply-people .path14:before {
  content: "\e90f";
  color: #37b879;
}
.icon-logo-simply-people .path15:before {
  content: "\e910";
  color: #37b879;
}
.icon-logo-simply-people .path16:before {
  content: "\e911";
  color: #37b879;
}
.icon-logo-simply-people .path17:before {
  content: "\e912";
  color: #37b879;
}
@media (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1000px) and (min-resolution: 192dpi) {
  html {
    background-image: url("/_images/puzzle-overlay.jpg");
    background-size: cover;
    height: 100%;
  }
}
@media (max-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 1000px) and (max-resolution: 191dpi) {
  html {
    background-image: url("/_images/puzzle-overlay.jpg");
    background-size: cover;
    height: 100%;
  }
}
@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 500px) and (min-resolution: 192dpi) {
  html {
    background-image: url("/_images/puzzle-overlay-medium.jpg");
  }
}
@media (max-width: 500px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 500px) and (max-resolution: 191dpi) {
  html {
    background-image: url("/_images/puzzle-overlay-small.jpg");
  }
}
@media (max-width: 250px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 250px) and (min-resolution: 192dpi) {
  html {
    background-image: url("/_images/puzzle-overlay-small.jpg");
  }
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.layout {
  margin-right: 75px;
  position: relative;
}
.layout .main {
  background-color: rgba(211,203,189,0.67);
  width: 100%;
  z-index: 0;
}
.layout .main .grid {
  margin: 0 auto;
  padding: 111px 75px 150px;
}
.layout .icon {
  color: #37b879;
  font-size: 0.8em;
  min-width: 16px;
  padding-right: 24px;
  text-align: center;
}
.layout .sidebar {
  background-color: #d3cbbd;
  bottom: 0;
  right: -75px;
  padding: $sidebar-vertical-padding 0;
  position: absolute;
  top: 0;
  transition: right 300ms ease-in;
  width: 75px;
  z-index: 1;
}
.layout--collapsed {
  animation: layout-slide 400ms 100ms forwards;
}
@-moz-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-o-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-moz-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-webkit-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-o-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-moz-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-o-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-moz-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@-o-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
footer {
  margin: 0 auto;
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 1;
}
footer h1 {
  color: rgba(255,255,255,0.5);
  font-size: 0.7em;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-light;
  line-height: 1.5em;
  text-align: right;
  margin-right: 30px;
}
.background-overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.background-overlay.video {
  background: rgba(43,43,43,0.93);
}
.background-overlay.image {
  background: rgba(211,203,189,0.6);
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background: url("/_images/puzzle-large.jpg") no-repeat;
  background-size: cover;
}
.background-image {
  background-image: url("../_images/extralarge/office-interior.jpg");
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.6;
}
aside > span {
  font-size: 9em;
  margin-bottom: 46px;
  display: block;
}
aside h2 {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-light;
  line-height: 1.5em;
  color: #fff;
  font-size: 1em;
  margin-bottom: 100px;
}
aside .connect,
aside .input {
  float: left;
  vertical-align: top;
  width: 59%;
}
aside .connect h3,
aside .input h3 {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-bold;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #37b879;
  font-size: 1.3em;
  margin-bottom: 18px;
}
aside .connect .phone .type,
aside .input .phone .type {
  float: left;
  width: 39%;
}
aside .connect .phone .type p,
aside .input .phone .type p {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-light;
  line-height: 1.5em;
  font-size: 1.3em;
  color: #fff;
  margin-bottom: 3px;
}
aside .connect .phone .number,
aside .input .phone .number {
  float: right;
  width: 61%;
}
aside .connect .phone .number a,
aside .input .phone .number a {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-semibold;
  line-height: 1.5em;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 3px;
  transition: color 400ms ease;
}
aside .connect .phone .number a:hover,
aside .input .phone .number a:hover {
  color: #37b879;
}
aside .linkedin,
aside input#mc-embedded-subscribe {
  float: right;
  margin-top: 8px;
  width: 37%;
}
aside .linkedin div a,
aside input#mc-embedded-subscribe div a {
  display: block;
}
aside .linkedin div a span.icon-linkedin-white,
aside input#mc-embedded-subscribe div a span.icon-linkedin-white {
  font-size: 2.5em;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
aside .linkedin div a span.name,
aside input#mc-embedded-subscribe div a span.name {
  margin-left: 8%;
  display: inline-block;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-bold-normal;
  line-height: 1.5em;
  font-size: 0.9em;
  line-height: 1.4em;
  vertical-align: middle;
  color: #fff;
}
aside .linkedin div a span.name span,
aside input#mc-embedded-subscribe div a span.name span {
  display: block;
  margin-left: 0;
  white-space: nowrap;
  font-size: 1em;
}
aside #mc_embed_signup_scroll {
  margin-top: 20px;
  -webkit-appearance: none;
}
aside #mc_embed_signup_scroll input#mc-embedded-subscribe {
  max-width: 132px;
  border: none;
  border-radius: 4px;
  float: left;
  margin-left: 4%;
  height: 40px;
  margin-top: 0;
  outline: none;
  background-color: #37b879;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-bold;
  line-height: 1.5em;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: color 200ms ease;
}
aside #mc_embed_signup_scroll input#mc-embedded-subscribe::-moz-focus-inner {
  border: 0;
}
aside #mc_embed_signup_scroll input#mc-embedded-subscribe:hover,
aside #mc_embed_signup_scroll input#mc-embedded-subscribe:focus {
  color: rgba(255,255,255,0.8);
  box-shadow: 1px 1px 10px #2b2b2b;
}
aside #mc_embed_signup_scroll label {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-light;
  line-height: 1.5em;
  font-size: 1em;
}
aside #mc_embed_signup_scroll input#mce-EMAIL,
aside #mc_embed_signup_scroll .floating-placeholder {
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
  height: 40px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
aside #mc_embed_signup_scroll .floating-placeholder {
  position: relative;
  width: 90%;
  background-color: #fff;
}
aside #mc_embed_signup_scroll .floating-placeholder input#mce-EMAIL {
  font-size: 1em;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 2;
  text-indent: 1em;
  width: 100%;
}
aside #mc_embed_signup_scroll .floating-placeholder input#mce-EMAIL:focus + label {
  color: #37b879;
  font-size: 0.6em;
  top: -20px;
  left: 5px;
}
aside #mc_embed_signup_scroll .floating-placeholder input#mce-EMAIL:valid + label {
  z-index: -1;
}
aside #mc_embed_signup_scroll .floating-placeholder label {
  color: #2b2b2b;
  cursor: text;
  display: block;
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 0.7em;
  z-index: 1;
  transition: all 200ms ease;
}
aside #mc_embed_signup_scroll .floating-placeholderaside #mc_embed_signup_scroll .floating-placeholder-float input#mce-EMAIL {
  line-height: 3.4em;
}
aside #mc_embed_signup_scroll .floating-placeholderaside #mc_embed_signup_scroll .floating-placeholder-float label {
  transform: scale(0.55, 0.55) rotateY(0);
}
@media screen and (max-width: 700px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 1600px) {
  .main aside {
    min-width: 610px;
    width: 610px;
  }
}
@media screen and (max-width: 700px) {
  .main aside {
    min-width: 540px;
    width: 540px;
  }
}
@media screen and (max-width: 600px) {
  .main aside {
    min-width: 460px;
    width: 460px;
  }
}
@media screen and (max-width: 500px) {
  .main aside {
    min-width: 90%;
    width: 90%;
  }
}
@media screen and (max-device-width: 1000px) {
  .bg-vid,
  .video-overlay {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  aside .linkedin {
    width: 41%;
  }
  aside #mc_embed_signup_scroll input#mc-embedded-subscribe {
    margin-left: 0;
  }
  aside > span {
    font-size: 7em;
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 500px) {
  aside > span {
    font-size: 5em;
  }
  aside h2 {
    margin-bottom: 60px;
  }
  aside .connect,
  aside .linkedin,
  aside .input {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  aside .connect .phone .type {
    width: 19%;
  }
  aside .connect .phone .number {
    float: left;
  }
  aside .linkedin div a span.name {
    margin-left: 6%;
  }
  aside #mc_embed_signup_scroll .floating-placeholder label {
    padding-top: 0.4em;
  }
  footer {
    width: 45%;
    right: 0;
  }
  footer h1 {
    line-height: 1.2em;
  }
}
