html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
}
-webkit-box-sizing border-box,
-moz-box-sizing border-box,
box-sizing border-box,
-moz-background-clip padding-box !important,
-webkit-background-clip padding-box !important,
background-clip padding-box !important,
a {
  background: transparent;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
svg:not(root) {
  overflow: hidden;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: 'simply-people';
  src: url("../_fonts/simply-people.eot?xdi9hz");
  src: url("../_fonts/simply-people.eot?xdi9hz#iefix") format('embedded-opentype'), url("../_fonts/simply-people.ttf?xdi9hz") format('truetype'), url("../_fonts/simply-people.woff?xdi9hz") format('woff'), url("../_fonts/simply-people.svg?xdi9hz#simply-people") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'simply-people' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-logo-full-outline .path1:before {
  content: "\e930";
  color: #3db779;
}
.icon-logo-full-outline .path2:before {
  content: "\e931";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full-outline .path3:before {
  content: "\e932";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full-outline .path4:before {
  content: "\e933";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full-outline .path5:before {
  content: "\e934";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full-outline .path6:before {
  content: "\e935";
  margin-left: -3.0458984375em;
  color: #000;
}
.icon-logo-full-outline .path7:before {
  content: "\e936";
  margin-left: -3.0458984375em;
  color: #000;
}
.icon-logo-full-outline .path8:before {
  content: "\e937";
  margin-left: -3.0458984375em;
  color: #000;
}
.icon-logo-full-outline .path9:before {
  content: "\e938";
  margin-left: -3.0458984375em;
  color: #000;
}
.icon-logo-full-outline .path10:before {
  content: "\e939";
  margin-left: -3.0458984375em;
  color: #000;
}
.icon-logo-full-outline .path11:before {
  content: "\e93a";
  margin-left: -3.0458984375em;
  color: #000;
}
.icon-logo-full-outline .path12:before {
  content: "\e93b";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full-outline .path13:before {
  content: "\e93c";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full-outline .path14:before {
  content: "\e93d";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full-outline .path15:before {
  content: "\e93e";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full-outline .path16:before {
  content: "\e93f";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full-outline .path17:before {
  content: "\e940";
  margin-left: -3.0458984375em;
  color: #3db779;
}
.icon-logo-full .path1:before {
  content: "\e941";
  color: #3db779;
}
.icon-logo-full .path2:before {
  content: "\e942";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-full .path3:before {
  content: "\e943";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-full .path4:before {
  content: "\e944";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-full .path5:before {
  content: "\e945";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-full .path6:before {
  content: "\e946";
  margin-left: -3.052734375em;
  color: #000;
}
.icon-logo-full .path7:before {
  content: "\e947";
  margin-left: -3.052734375em;
  color: #000;
}
.icon-logo-full .path8:before {
  content: "\e948";
  margin-left: -3.052734375em;
  color: #000;
}
.icon-logo-full .path9:before {
  content: "\e949";
  margin-left: -3.052734375em;
  color: #000;
}
.icon-logo-full .path10:before {
  content: "\e94a";
  margin-left: -3.052734375em;
  color: #000;
}
.icon-logo-full .path11:before {
  content: "\e94b";
  margin-left: -3.052734375em;
  color: #000;
}
.icon-logo-full .path12:before {
  content: "\e94c";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-full .path13:before {
  content: "\e94d";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-full .path14:before {
  content: "\e94e";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-full .path15:before {
  content: "\e94f";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-full .path16:before {
  content: "\e950";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-full .path17:before {
  content: "\e951";
  margin-left: -3.052734375em;
  color: #3db779;
}
.icon-logo-icon-outline:before {
  content: "\e952";
}
.icon-logo-icon:before {
  content: "\e953";
}
.icon-youtube:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e913";
}
.icon-linkedin:before {
  content: "\e919";
}
.icon-instagram:before {
  content: "\e91b";
}
.icon-facebook:before {
  content: "\e921";
}
.icon-close:before {
  content: "\e92c";
}
.icon-chat:before {
  content: "\e92f";
}
.icon-google:before {
  content: "\e900";
}
.icon-mobile:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e902";
}
.icon-award:before {
  content: "\e903";
}
.icon-badge:before {
  content: "\e904";
}
.icon-book:before {
  content: "\e905";
}
.icon-briefcase:before {
  content: "\e906";
}
.icon-bulb:before {
  content: "\e907";
}
.icon-casette:before {
  content: "\e908";
}
.icon-chip:before {
  content: "\e90a";
}
.icon-clock:before {
  content: "\e90b";
}
.icon-code:before {
  content: "\e90d";
}
.icon-connect:before {
  content: "\e90e";
}
.icon-desk:before {
  content: "\e90f";
}
.icon-diagram:before {
  content: "\e910";
}
.icon-disc:before {
  content: "\e911";
}
.icon-email-message:before {
  content: "\e912";
}
.icon-file-storage:before {
  content: "\e914";
}
.icon-gears:before {
  content: "\e915";
}
.icon-globe:before {
  content: "\e916";
}
.icon-golden-ratio:before {
  content: "\e917";
}
.icon-hamburger:before {
  content: "\e918";
}
.icon-keys:before {
  content: "\e91a";
}
.icon-message:before {
  content: "\e91c";
}
.icon-network:before {
  content: "\e91d";
}
.icon-news:before {
  content: "\e91e";
}
.icon-people:before {
  content: "\e91f";
}
.icon-phone-message:before {
  content: "\e920";
}
.icon-pin:before {
  content: "\e922";
}
.icon-present:before {
  content: "\e923";
}
.icon-printer:before {
  content: "\e924";
}
.icon-profile:before {
  content: "\e925";
}
.icon-puzzle:before {
  content: "\e926";
}
.icon-rubiks:before {
  content: "\e927";
}
.icon-stats:before {
  content: "\e928";
}
.icon-tablet:before {
  content: "\e929";
}
.icon-testimonials:before {
  content: "\e92a";
}
.icon-time-process:before {
  content: "\e92b";
}
.icon-vitruvian:before {
  content: "\e92d";
}
.icon-website:before {
  content: "\e92e";
}
@media (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1000px) and (min-resolution: 192dpi) {
  html {
    background-image: url("/_images/puzzle-overlay.jpg");
    background-size: cover;
    height: 100%;
  }
}
@media (max-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 1000px) and (max-resolution: 191dpi) {
  html {
    background-image: url("/_images/puzzle-overlay.jpg");
    background-size: cover;
    height: 100%;
  }
}
@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 500px) and (min-resolution: 192dpi) {
  html {
    background-image: url("/_images/puzzle-overlay-medium.jpg");
  }
}
@media (max-width: 500px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 500px) and (max-resolution: 191dpi) {
  html {
    background-image: url("/_images/puzzle-overlay-small.jpg");
  }
}
@media (max-width: 250px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 250px) and (min-resolution: 192dpi) {
  html {
    background-image: url("/_images/puzzle-overlay-small.jpg");
  }
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.layout {
  background-color: rgba(211,203,189,0.67);
  position: relative;
}
.layout .main {
  width: 100%;
  z-index: 0;
}
.layout .main .grid {
  margin: 0 auto;
  padding: 35px 150px 150px 75px;
}
.layout .sidebar {
  bottom: 0;
  right: 0;
  padding: 35px 0;
  position: absolute;
  top: 0;
  width: 75px;
}
.layout--collapsed {
  animation: layout-slide 400ms 100ms forwards;
}
@-moz-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-o-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-moz-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-webkit-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-o-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-moz-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-o-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-moz-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@-o-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
.nav-pane {
  transition: 250ms;
  position: fixed;
  transform: translateX(0px);
  top: 0;
  height: 100vh;
  width: 75px;
  background: rgba(211,203,189,0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 3px 10px rgba(43,43,43,0.2);
}
.nav-pane.open {
  transform: translateX(-425px);
  transition: 250ms;
  width: 500px;
}
.toggle-nav {
  cursor: pointer;
  text-align: center;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-light;
  line-height: 1.5em;
  position: absolute;
  width: 100%;
  margin-bottom: 50px;
}
.toggle-nav span.m,
.toggle-nav span.n,
.toggle-nav span.u {
  display: inline-block;
  font-size: 1.05rem;
  opacity: 0;
  transition: 250ms;
  letter-spacing: 2px;
  vertical-align: middle;
}
.toggle-nav span.e {
  display: inline-block;
  height: 14px;
  width: 20px;
  vertical-align: middle;
  margin: 0 3px 0 2px;
}
.toggle-nav span.e.btn-close span.bar:nth-child(1) {
  transition: 250ms;
  transform: rotate(45deg);
  top: 6px;
}
.toggle-nav span.e.btn-close span.bar:nth-child(2) {
  opacity: 0;
  transition: 250ms;
}
.toggle-nav span.e.btn-close span.bar:nth-child(3) {
  transition: 250ms;
  transform: rotate(-45deg);
  bottom: 6px;
}
.toggle-nav span.e span.bar {
  transition: 250ms;
  position: relative;
  display: block;
  background: #212121;
  border-radius: 1px;
  border-bottom: 1.8px solid #606060;
  width: 20px;
  height: 2.5px;
}
.toggle-nav span.e span.bar:nth-child(2) {
  margin: 3.6px 0;
}
.toggle-nav:hover span.m,
.toggle-nav:hover span.n,
.toggle-nav:hover span.u {
  opacity: 1;
  transition: 250ms;
  color: #37b879;
}
.toggle-nav:hover span.e span.bar {
  background-color: #37b879;
  border-bottom-color: #37b879;
}
.background-overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.background-overlay.video {
  background: rgba(43,43,43,0.93);
}
.background-overlay.image {
  background: rgba(211,203,189,0.6);
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background: url("/_images/puzzle-large.jpg") no-repeat;
  background-size: cover;
}
.background-image {
  background-image: url("../_images/extralarge/office-interior.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 0;
}
footer {
  margin: 0 auto;
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 1;
}
footer h1 {
  color: rgba(255,255,255,0.5);
  font-size: 0.7em;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-light;
  line-height: 1.5em;
  text-align: right;
  margin-right: 30px;
}
.icon-logo-full-outline {
  font-size: 3.25em;
}
.icon-logo-full-outline [class^="path"]:before {
  color: #2b2b2b;
}
@media (max-width: 2000px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 2000px) and (max-resolution: 191dpi) {
  .background-image {
    background-image: url("../_images/large/office-interior.jpg");
  }
}
@media (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1000px) and (min-resolution: 192dpi) {
  .background-image {
    background-image: url("../_images/extramedium/office-interior.jpg");
  }
}
@media (max-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 1000px) and (max-resolution: 191dpi) {
  .background-image {
    background-image: url("../_images/medium/office-interior.jpg");
  }
}
@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 500px) and (min-resolution: 192dpi) {
  .background-image {
    background-image: url("../_images/medium/office-interior.jpg");
  }
}
@media (max-width: 500px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 500px) and (max-resolution: 191dpi) {
  .background-image {
    background-image: url("../_images/small/office-interior.jpg");
  }
}
@media (max-width: 250px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 250px) and (min-resolution: 192dpi) {
  .background-image {
    background-image: url("../_images/small/office-interior.jpg");
  }
}
