html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
}
-webkit-box-sizing border-box,
-moz-box-sizing border-box,
box-sizing border-box,
-moz-background-clip padding-box !important,
-webkit-background-clip padding-box !important,
background-clip padding-box !important,
a {
  background: transparent;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
svg:not(root) {
  overflow: hidden;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
border-radius (n) {
  border-radius: n;
}
transition (prop,
time,
ease) {
  -webkit-transition: prop time ease;
  transition: prop time ease;
}
gradient (origin,
start,
stop) {
  background-color: start;
  background-image: -webkit-linear-gradient(origin, start, stop);
  background-image: linear-gradient(origin, start, stop);
}
drop-shadow (inset,
x,
y,
blur,
spread,
alpha) {
  box-shadow: inset x y blur spread alpha;
}
opacity (opacity) {
  -webkit-opacity: opacity;
  -moz-opacity: opacity;
  opacity: opacity;
}
animation (name,
duration,
delay,
ease) {
  -webkit-animation: name duration delay ease;
  -moz-animation: name duration delay ease;
  -ms-animation: name duration delay ease;
}
transform (string) {
  -webkit-transform: string;
  -moz-transform: string;
  -ms-transform: string;
  -o-transform: string;
}
scale (factor) {
  -webkit-transform: scale(factor);
  -moz-transform: scale(factor);
  -ms-transform: scale(factor);
  -o-transform: scale(factor);
}
rotate (deg) {
  -webkit-transform: rotate(deg);
  -moz-transform: rotate(deg);
  -ms-transform: rotate(deg);
  -o-transform: rotate(deg);
}
skew (deg,
deg2) {
  -webkit-transform: skew(deg, deg2);
  -moz-transform: skew(deg, deg2);
  -ms-transform: skew(deg, deg2);
  -o-transform: skew(deg, deg2);
}
translate (x,
y) {
  -webkit-transform: translate(x, y);
  -moz-transform: translate(x, y);
  -ms-transform: translate(x, y);
  -o-transform: translate(x, y);
}
translate3d (x,
y,
z) {
  -webkit-transform: translate3d(x, y, z);
  -moz-transform: translate3d(x, y, z);
  -ms-transform: translate3d(x, y, z);
  -o-transform: translate3d(x, y, z);
}
perspective (value) {
  -webkit-perspective: value;
  -ms-perspective: value;
  perspective: value;
}
transform-origin (x,
y) {
  -webkit-transform-origin: x y;
  -moz-transform-origin: x y;
  -ms-transform-origin: x y;
  -o-transform-origin: x y;
}
html {
  font-size: 16px;
}
h1 {
  font-size: 20px;
}
.video-overlay {
  background: rgba(43,43,43,0.8);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
video {
  position: fixed;
  top: 40%;
  left: 50%;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: url("/_images/puzzle-large.jpg") no-repeat;
  background-size: cover;
}
footer {
  margin: 0 auto;
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 1;
}
footer h1 {
  color: #fff;
  font-size: 0.7em;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
aside {
  padding: 15% 0 0 10%;
}
aside img {
  width: 80%;
  margin-bottom: 46px;
}
aside h2 {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
  font-size: 1em;
  margin-bottom: 100px;
}
aside .connect {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
aside .connect h3 {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #05c7f2;
  font-size: 1.3em;
  margin-bottom: 18px;
}
aside .connect .phone .type {
  float: left;
  width: 25%;
}
aside .connect .phone .type p {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 24px;
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 10px;
}
aside .connect .phone .number {
  float: right;
  width: 75%;
}
aside .connect .phone .number a {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 24px;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
aside .linkedin {
  display: inline-block;
  vertical-align: top;
  width: 29%;
}
aside .linkedin div a {
  display: block;
}
aside .linkedin div a img {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10%;
}
aside .linkedin div a span {
  width: 65%;
  margin-left: 9%;
  display: inline-block;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: $primary-font-bold-normal;
  line-height: 24px;
  font-size: 0.8em;
  line-height: 1em;
  vertical-align: top;
  color: #fff;
}
html {
  font-size: 18px;
}
body {
  font-size: 1rem;
}
.wrapper {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.main {
  display: table-row;
  height: 100%;
}
.main aside {
  display: table-cell;
  min-width: 800px;
  width: 800px;
  background-color: transparent;
}
.main section {
  display: table-cell;
  width: 100%;
  background-color: transparent;
}
.grid {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 15.5px;
  }
}
@media screen and (max-device-width: 800px) {
  html {
    background: url("/_images/puzzle-large.jpg") #2b2b2b no-repeat center center fixed;
  }
  .bg-vid {
    display: none;
  }
}
