footer.slider

  .flexslider.carousel

    ul.testimonials.slides

      li.testimonial

        p 1 Lodoeifan  oiuaewohtf akdjo udsfaewtr  ouasgbd kjasouhfg akergb alsuighafba loiuha ao uhgak au a aouerh ta   asou gh d auigh aourgh alsjdh aurgh alkrjgb.

        p.author -Author Authorson

      li.testimonial

        p 2 Lodoeifan  oiuaewohtf akdjo udsfaewtr  ouasgbd kjasouhfg akergb alsuighafba loiuha ao uhgak au a aouerh ta   asou gh d auigh aourgh alsjdh aurgh alkrjgb.

        p.author -Author Authorson

      li.testimonial

        p 3 Lodoeifan  oiuaewohtf akdjo udsfaewtr  ouasgbd kjasouhfg akergb alsuighafba loiuha ao uhgak au a aouerh ta   asou gh d auigh aourgh alsjdh aurgh alkrjgb.

        p.author -Author Authorson

      li.testimonial

        p 4 Lodoeifan  oiuaewohtf akdjo udsfaewtr  ouasgbd kjasouhfg akergb alsuighafba loiuha ao uhgak au a aouerh ta   asou gh d auigh aourgh alsjdh aurgh alkrjgb.

        p.author -Author Authorson

      li.testimonial

        p 5 Lodoeifan  oiuaewohtf akdjo udsfaewtr  ouasgbd kjasouhfg akergb alsuighafba loiuha ao uhgak au a aouerh ta   asou gh d auigh aourgh alsjdh aurgh alkrjgb.

        p.author -Author Authorson

      li.testimonial

        p 6 Lodoeifan  oiuaewohtf akdjo udsfaewtr  ouasgbd kjasouhfg akergb alsuighafba loiuha ao uhgak au a aouerh ta   asou gh d auigh aourgh alsjdh aurgh alkrjgb.

        p.author -Author Authorson

  .copyline

    h1 &copy;2016 Simply People, Nashville
