form(name='nav_contact' method='POST' class='nav_contact')

    label.label Name
    input(type='text' name='name' placeholder='name' required)

    input(type='checkbox' name='im' value='candidate')
    span I'm a Candidate
    input(type='checkbox' name='im' value='employer')
    span I'm an Employer

    label.label Phone
    input(type='text' name='phone' placeholder='phone' required)

    label.label Linkedin URL
    input(type='text' name='url' placeholder='url')

    label.label Email
    input(type='text' name='email' placeholder='email')

    input(type='checkbox' name='updates' value='updates')
    span Get Jobs Updates

    input(type='submit' class='submit' value="We'll Holler Back")

    span.icon-google
    span.icon-linkedin
    span.icon-twitter
    span.icon-facebook
    span.youtube
    span.instagram