form(name='nav_contact' method='POST' class='nav_contact')

		label.label Visibility
		input(type='radio' name='disabled' value='false')
		span On
		input(type='radio' name='disabled' value='true')
		span Off

		label.label Description
		textarea(name='desc' rows='4' cols='70' class='textarea')

		input(type='submit' class='submit-btn' value='Submit')