
<form name="edit_beacon" method="POST">
  <div class="simple_row radio">
    <label>Visibility</label>
    <input type="radio" name="disabled" value="false"/><span>On</span>
    <input type="radio" name="disabled" value="true"/><span>Off</span>
  </div>
  <div style="height:80px" class="simple_row">
    <label>Description</label>
    <textarea name="desc" rows="4" cols="70"></textarea>
  </div>
  <div class="simple_row">
    <input type="submit" value="Submit" class="submit-btn"/>
  </div>
</form>