
doctype
html(lang=locale)
  head
    block meta
      meta(charset="utf-8")
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title Simply People | IT Staffing Services
      meta(name='description' content='Simply People specializes is finding top talent for your most critical IT challenges. We cover talent for contract, contract-to-hire, or permanent placement.')
      link(rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png")
      link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png")
      link(rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png")
      link(rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png")
      link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png")
      link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
      link(rel="icon" type="image/png" href="favicon-194x194.png" sizes="194x194")
      link(rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96")
      link(rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192")
      link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")
      link(rel="manifest" href="manifest.json")
      link(rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5")
      meta(name="apple-mobile-web-app-title" content="Simply People")
      meta(name="application-name" content="Simply People")
      meta(name="msapplication-TileColor" content="#da532c")
      meta(name="msapplication-TileImage" content="/mstile-144x144.png")
      meta(name="theme-color" content="#37b879")

    block styles
      link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600')
      link(rel='stylesheet' type='text/css' href='_styles/compiled.css')

    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js')
    script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')
    script(defer src='_scripts/jquery.flexslider.js')
    script.
      $(function(){
        SyntaxHighlighter.all();
      });
      $(window).load(function(){
        $('.flexslider').flexslider({
          animation: "slide",
          animationLoop: false,
          itemWidth: 210,
          itemMargin: 15,
          minItems: 3,
          maxItems: 3,
          start: function(slider){
            $('body').removeClass('loading');
          }
        });
      });

    script(type='text/javascript' src='_scripts/min/testimonials-min.js')
