
doctype html
html(lang=locale)
  head
    block meta
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title Simply People | IT Staffing Services
      meta(name="description" content="Simply People specializes is finding top talent for your most critical IT challenges. We cover talent for contract, contract-to-hire, or permanent placement.")
      link(rel="apple-touch-icon" sizes="57x57" href="/_images/apple-icon-57x57.png")
      link(rel="icon" type="image/png" sizes="192x192" href="/_images/android-icon-192x192.png")
      link(rel="icon" type="image/png" sizes="32x32" href="/_images/favicon-32x32.png")
      link(rel="shortcut icon" type="image/ico" sizes="32x32" href="/_images/favicon.ico")

    block styles
      link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600')
      link(rel="stylesheet" type="text/css" href="/_styles/compiled.css")
