
doctype html
html(lang=locale)
  head
    block meta
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="apple-touch-icon" sizes="57x57" href="/_images/apple-icon-57x57.png")
      //- link(rel="apple-touch-icon" sizes="60x60" href="_images/apple-icon-60x60.png")
      //- link(rel="apple-touch-icon" sizes="72x72" href="_images/apple-icon-72x72.png")
      //- link(rel="apple-touch-icon" sizes="76x76" href="_images/apple-icon-76x76.png")
      //- link(rel="apple-touch-icon" sizes="114x114" href="_images/apple-icon-114x114.png")
      //- link(rel="apple-touch-icon" sizes="120x120" href="_images/apple-icon-120x120.png")
      //- link(rel="apple-touch-icon" sizes="144x144" href="_images/apple-icon-144x144.png")
      //- link(rel="apple-touch-icon" sizes="152x152" href="_images/apple-icon-152x152.png")
      //- link(rel="apple-touch-icon" sizes="180x180" href="_images/apple-icon-180x180.png")
      link(rel="icon" type="image/png" sizes="192x192" href="/_images/android-icon-192x192.png")
      link(rel="icon" type="image/png" sizes="32x32" href="/_images/favicon-32x32.png")
      //- link(rel="icon" type="image/png" sizes="96x96" href="_images/favicon-96x96.png")
      //- link(rel="icon" type="image/png" sizes="16x16" href="_images/favicon-16x16.png")
      link(rel="shortcut icon" type="image/ico" sizes="32x32" href="/_images/favicon.ico")
      meta(name="title" content="Simply People")
      meta(name="description" content="Simply People")

      //- twitter card
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@angryeaglelodge">
      <meta name="twitter:creator" content="@anngryeaglelodge">
      <meta name="twitter:title" content="Angry Eagle Lodge &amp; Outfitters">
      <meta name="twitter:description" content="Angry Eagle Lodge &amp; Outfitters operates two full-service fishing lodges in the heart of Southwest Alaska’s Bristol Bay region. For the past 30 years, we’ve prided ourselves on offering the fishing adventures of a lifetime.">
      <meta name="twitter:image:src" content="http://www.angryeagle.com/emails/twitter-card.jpg">

      //- open graph
      <meta property="og:title" content="Alaska's Premier Fishing Resort"/>
      <meta property="og:url" content="http://www.angryeagle.com" />
      <meta property="og:image" content="http://www.angryeagle.com/emails/og-image.jpg"/>
      <meta property="og:site_name" content="Angry Eagle Lodge &amp; Outfitters"/>
      <meta property="og:description" content="Angry Eagle Lodge &amp; Outfitters operates two full-service fishing lodges in the heart of Southwest Alaska’s Bristol Bay region. For the past 30 years, we’ve prided ourselves on offering the fishing adventures of a lifetime."/>



    block styles
      link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600')
      link(rel="stylesheet" type="text/css" href="/_styles/compiled.css")

    block scripts
      script(document.createElement{"picture"})
      script(type="text/javascript" src="/_scripts/min/picturefill.js" async)
      script(type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      //- script window.jQuery || document.write('<script src='js/vendor/jquery-1.10.2.min.js'><\/script>')
      script(type="text/javascript" src="/_scripts/min/main-min.js")
