
div.background-overlay.image

div.background-image

//- picture
//-   <!--[if IE 9]>
//-   video(style="display: none;")
//-   <![endif]-->
//-   source(srcset="_images/large/office-interior.jpg, _images/extralarge/office-interior.jpg 2x" media="(min-width: 2500px)")
//-   source(srcset="_images/medium/office-interior.jpg, _images/extramedium/office-interior.jpg 2x" media="(min-width: 1000px)")
//-   <!--[if IE 9]>
//-   </video>
//-   <![endif]-->
//-   img(srcset="_images/small/office-interior.jpg, _images/medium/office-interior.jpg 2x" alt="ALTHERE")
