.CSSgal

  s#s1
  s#s2
  s#s3
  s#s4

  .slider
    .pink
      span.icon-logo-full
        span.path1
        span.path2
        span.path3
        span.path4
        span.path5
        span.path6
        span.path7
        span.path8
        span.path9
        span.path10
        span.path11
        span.path12
        span.path13
        span.path14
        span.path15
        span.path16
        span.path17

      h2.headline It's not <a href="#">what we do</a> that's different, <br/>it's <a href="#">how we do it</a>.

    .blue
      h2 Slide 2

    .green
      h2 Slide 3

    .red
      h2 Slide 4

  
  .prevNext
    .cont
      a(href="#s4")
      a(href="#s2")

    .cont
      a(href="#s1")
      a(href="#s3")

    .cont
      a(href="#s2")
      a(href="#s4")

    .cont
      a(href="#s3")
      a(href="#s1")

  .bullets
    a(href="#s1") 1
    a(href="#s2") 2
    a(href="#s3") 3
    a(href="#s4") 4
