
<div class="CSSgal">
  <s id="s1"></s>
  <s id="s2"></s>
  <s id="s3"></s>
  <s id="s4"></s>
  <div class="slider">
    <div class="pink">
      <h2>PURE <b>CSS</b> SLIDESHOW</h2>
      <p>Responsive Slideshow Gallery created using CSS only<br>by Roko</p>
    </div>
    <div class="blue">
      <h2>Slide 2</h2>
    </div>
    <div class="green">
      <h2>Slide 3</h2>
    </div>
    <div class="red">
      <h2>Slide 4</h2>
    </div>
  </div>
  <div class="prevNext">
    <div class="cont"><a href="#s4"></a><a href="#s2"></a></div>
    <div class="cont"><a href="#s1"></a><a href="#s3"></a></div>
    <div class="cont"><a href="#s2"></a><a href="#s4"></a></div>
    <div class="cont"><a href="#s3"></a><a href="#s1"></a></div>
  </div>
  <div class="bullets"><a href="#s1">1</a><a href="#s2">2</a><a href="#s3">3</a><a href="#s4">4</a></div>
</div>