- var page = window.location.pathname

if page === "/index.html"
   link(rel='stylesheet' type='text/css' href='_styles/compiled.css')
   link(rel='stylesheet' type='text/css' href='_styles/index-bg.css')
else
   link(rel='stylesheet' type='text/css' href='_styles/compiled.css')
