
div.video-overlay.puzzle

video(property='video' autoplay preload='auto' muted loop='loop' canplay='false' class='bg-vid' poster="/_images/puzzle-large.jpg")

  source(src='_includes/video/puzzle-large.mp4' type='video/mp4')
  source(src='_includes/video/puzzle-large.webm' type='video/webm')
