
.background-overlay
  bottom: 0
  height: 100%
  left: 0
  position: absolute
  right: 0
  top: 0
  width: 100%
  z-index: 0
  &.video
    background: rgba($black, 0.93)
  &.image
    background: rgba($white-alt, 0.6)

video
  position: fixed
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 120%
  width: auto
  height: auto
  z-index: -1
  transform: translateX(-50%) translateY(-50%)
  background: url(/_images/puzzle-large.jpg) no-repeat
  background-size: cover

.background-image
  background-image: url(../_images/extralarge/office-interior.jpg)
  background-size: cover
  background-position: center
  width: 100%
  position: absolute
  top: 0
  bottom: 0
  opacity: 0.6
  z-index: 0

