footer
  margin: 0 auto
  position: fixed
  bottom: 10px
  width: 100%
  z-index: 1
  h1
    color: rgba($white, 0.5)
    font-size: 0.7em
    primary-font($primary-font-light)
    text-align: right
    margin-right: 30px
