border-radius(n)
  border-radius n

transition(prop, time, ease)
  transition prop time ease

gradient(origin, start, stop)
  background-color start
  background-image linear-gradient(origin, start, stop)

drop-shadow(inset, x, y, blur, spread, alpha)
  box-shadow inset x y blur spread alpha

animation(name, duration, delay, ease)
  animation name duration delay ease

transform(string)
  transform string

scale(factor)
  transform scale(factor)

rotate(deg)
  transform rotate(deg)

skew(deg, deg2)
  transform skew(deg, deg2)

translate(x, y)
  transform translate(x, y)

translate3d(x, y, z)
  transform translate3d(x, y, z)

perspective(value)
  perspective value

transform-origin(x, y)
  transform-origin x y