
@media (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1000px) and (min-resolution: 192dpi)
  html
    background-image: url(/_images/puzzle-overlay.jpg)
    background-size: cover
    height: 100%

@media (max-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 1000px) and (max-resolution: 191dpi)
  html
    background-image: url(/_images/puzzle-overlay.jpg)
    background-size: cover
    height: 100%

@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 500px) and (min-resolution: 192dpi)
  html
    background-image: url(/_images/puzzle-overlay-medium.jpg)


@media (max-width: 500px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 500px) and (max-resolution: 191dpi)
  html
    background-image: url(/_images/puzzle-overlay-small.jpg)


@media (max-width: 250px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 250px) and (min-resolution: 192dpi)
  html
    background-image: url(/_images/puzzle-overlay-small.jpg)


