
$icon-width = 24px
$sidebar-collapsed-width = 75px
$sidebar-width = 280px
$sidebar-vertical-padding = 45px
$layout-max-width = 1000px

.wrapper
  max-width: $layout-max-width
  margin: 0 auto

.layout
  margin-right: $sidebar-collapsed-width
  position: relative

  .main
    background-color: rgba($white-alt 0.67)
    width: 100%
    z-index: 0

    .grid
      margin: 0 auto
      padding: 111px 75px 150px

  .sidebar
    background-color: $white-alt
    bottom: 0
    right: -($sidebar-collapsed-width)
    padding: $sidebar-vertical-padding 0
    position: absolute
    top: 0
    transition: right 300ms ease-in
    width: $sidebar-collapsed-width
    z-index: 1
    box-shadow: -5px 0 15px 0 rgba($black 0.1)

  &--collapsed
    animation: layout-slide 400ms 100ms forwards

@keyframes rotate-toggle
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(-180deg)

@keyframes icon-grow
  0%
    transform: scale(0)
  50%
    transform: scale(1.5)
  100%
    transform: scale(1)

@keyframes hover-width
  0%
    width: 0px
  80%
    width: 220px
  100%
    width: 200px

@keyframes link-opacity
  0%
    opacity: 0
  80%
    opacity: 0
  90%
    opacity: 30%
  100%
    opacity: 100%

@keyframes layout-slide
  0%
    margin-left: $sidebar-width
  30%
    margin-left: $sidebar-width + $sidebar-collapsed-width
  100%
    margin-left: 0
