
html
  font-size: $primary-font-size
body
  font-size: 1rem

.wrapper
  display: table
  height: 100%
  position: relative
  width: 100%
  z-index: 1
.main
  display: table-row
  height: 100%
  aside
    display: table-cell
    min-width: 610px
    width: 610px
    background-color: transparent
  section
    display: table-cell
    width: 100%
    background-color: transparent
.grid
  max-width: 1000px
  margin: 0 auto