
// animation(name, duration, delay, ease)
//   animation name duration delay ease

// border-radius(n)
//   border-radius n

// drop-shadow(inset, x, y, blur, spread, alpha)
//   box-shadow inset x y blur spread alpha

// gradient(origin, start, stop)
//   background-color start
//   background-image linear-gradient(origin, start, stop)

// perspective(value)
//   perspective value

// rotate(deg)
//   transform rotate(deg)

// scale(factor)
//   transform scale(factor)

// skew(deg, deg2)
//   transform skew(deg, deg2)

// transform(string)
//   transform string

// transform-origin(x, y)
//   transform-origin x y

// translate(x, y)
//   transform translate(x, y)

// translate3d(x, y, z)
//   transform translate3d(x, y, z)

// transition(prop, time, ease)
//   transition prop time ease
