
nav-icon-view()
  .nav-items
    a
      .list-item
        opacity: 0
        display: block

    .sub
      opacity: 0
      height: 0

nav-list-view()
  .nav-items
    margin-left: 34px
    a
      text-align: left

      .list-item
        opacity: 1
        display: inline

    [class^="list"] input:checked ~ .sub
      opacity: 1
      height: auto
      margin-bottom: 10px
      &:last-child
        margin-bottom: 27px


.nav-items
  margin: 111px auto 0
  letter-spacing: 4px

  .sub.phones
    margin-top: 58px
    padding-left: 24px
    a
      font-size: 1em
      text-decoration: none
      color: $black
      padding-bottom: 0.75em
      primary-font($light)
      span
        margin-right: 10px
        &[class^="icon"]
          font-size: 1.75em
          display: inline-block
          vertical-align: top

  a
    display: block
    text-align: center
    font-size: 3.5em

    &:not(.sub), &:not(.sub a)
      margin-bottom: 10px
      position: relative

      span
        position: absolute
        top: 1em
        left: 80px

    &:before
      vertical-align: middle

    .list-item
      font-size: 0.35em
      vertical-align: middle
      height: 0
      padding-left: 0.35em
      text-transform: uppercase
      primary-font($light)

    &.sub
      font-size: 2em
      margin-left: 0.65em
      cursor: pointer

      span
        padding-left: .75em
        font-size: .475em

[class^="list"]
  position: relative

  input
    position: absolute
    left:-99999px
    top: -99999px

  label
    width: 100%
    height: 4.5em
    position: absolute
    cursor: pointer
    z-index: 1

.nav-pane
  transition: 250ms
  position: fixed
  transform: translateX(0px)
  top: 0
  height: 100vh
  width: 75px
  background: rgba($white-alt, 0.8)
  box-shadow: 0px 3px 10px rgba($black, 0.2)
  nav-icon-view()

  &.open
    transform: translateX(-240px)
    transition: 250ms
    width: 315px
    nav-list-view()

.toggle-nav
  cursor: pointer
  text-align: center
  primary-font($primary-font-light)
  position: absolute
  width: 100%
  margin-bottom: 50px

  span.m, span.n, span.u
    display: inline-block
    font-size: 1.05rem
    opacity: 0
    transition: 250ms
    letter-spacing: 2px
    vertical-align: middle

  span.e
    display: inline-block
    height: 14px
    width: 20px
    vertical-align: middle
    margin: 0 3px 0 2px

    &.btn-close
      span.bar:nth-child(1)
        transition: 250ms
        transform: rotate(45deg)
        top: 6px
      span.bar:nth-child(2)
        opacity: 0
        transition: 250ms
      span.bar:nth-child(3)
        transition: 250ms
        transform: rotate(-45deg)
        bottom: 6px

    span.bar
      transition: 250ms
      position: relative
      display: block
      background: #212121
      border-radius: 1px
      border-bottom: 1.8px solid lighten($black, 25%)
      width: 20px
      height: 2.5px

      &:nth-child(2)
        margin: 3.6px 0

  &:hover
    span.m, span.n, span.u
      opacity: 1
      transition: 250ms
      color: $primary
    span.e span.bar
      background-color: $primary
      border-bottom-color: $primary

