
.nav-pane
  transition: 250ms
  position: fixed
  transform: translateX(0px)
  top: 0
  height: 100vh
  width: 75px
  background: $white-alt
  display: flex
  flex-direction: column
  justify-content: space-around
  box-shadow: 0px 3px 10px rgba($black, 0.5)

  h1
    margin: 0
    text-align: center
    color: #F1F1F1
    text-transform: uppercase
    font-size: 1.5rem

  &.open
    transform: translateX(-425px)
    transition: 250ms

.toggle-nav
  cursor: pointer
  text-align: center
  primary-font($primary-font-light)
  position: absolute

  &.open
    // span.m, span.n, span.u
    //   opacity: 1

  span.m, span.n, span.u
    display: inline-block
    font-size: 1.05rem
    opacity: 0
    transition: 250ms
    letter-spacing: 2px

  span.e
    display: inline-block
    height: 12px
    width: 17px

    &.btn-close

      span.bar:nth-child(1)
        transition: 250ms
        transform: rotate(45deg)
        top: 5px
      span.bar:nth-child(2)
        opacity: 0
        transition: 250ms
      span.bar:nth-child(3)
        transition: 250ms
        transform: rotate(-45deg)
        bottom: 5px

    span.bar
      transition: 250ms
      position: relative
      display: block
      background: #212121
      border-radius: 1px
      border-bottom: 1.8px solid lighten($black, 25%)
      width: 15px
      height: 1px

      &:nth-child(2)
        margin: 3.6px 0

.toggle-nav:hover
  span.m, span.n, span.u
    opacity: 1
    transition: 250ms
    color: $primary
  span.e span.bar
    background-color: $primary
    border-bottom-color: $primary