$bgGrey = #e7e6e1
$bgGreyDark = #67645b
$txtGrey = #393939
$navLight = #9F9C94
$navDark = #A5A7AB
$blue = #0d89bf
$green = #6e9e3f
$yellow = #d4a638
$orange = #da6d26
$red = #d45331
$black = #171717
$gold = #706a5d
$placehol = #C3C1B5
$tan1 = #e6dbbf
$footerGrey = #999896
$purple = #8078a8
$darkBlue = #0a5d81
$darkGreen = #587e32
$darkRed = #943a22
$transBlue = #E6F2F7
$transGrey = #f3f2f0
$sampleLinkBlue = #0000A6
$chartGrey = #777777