
$primary-font = 'Source Sans Pro'
$performance-font = 'Helvetica', 'Arial', sans-serif
$primary-font-size = 18px
$primary-font-line-height = 24px
$primary-font-light = 300
$primary-font-normal = 400
$primary-font-semibold = 600
$primary-font-bold = 700

primary-font(w)
  font-family: $primary-font, $performance-font
  font-weight: w
  line-height: $primary-font-line-height
